@media screen and (max-width: 399px){
    .min{
        display: block;
    }
    
    /* Main */

    .titulo{
        font-size: 30px;
        padding: 100px 0;
    }

    .info-redes{
        text-align: left;
        padding-bottom: 100px;
        margin-left: 15px;  
        width: 220px;
    }
    td{
        font-size: 12px;
        padding: 2px 0;
    }
    .icon2 > i{
        font-size: 20px;
        padding-right: 8px;
    }
}
