@media screen and (min-width: 750px){
    .max{
        display: block;
    }

    /* Main */

    
    .titulo{
        font-size: 60px;
        padding: 150px 0;
    }
    
    .info-redes{
        text-align: left;
        padding-bottom: 100px;
    }
    .redes2{
        font-size: 30px;
        margin:auto;
        width: 600px;
        margin-bottom: 25px;
    }
    .icon2 > i{
        width: 70px;
        font-size: 55px;
    }

}