.max, .med, .min{
    display: none;
}

body {
    background: #0F1014 url('../img/backgroud-contactInfo.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center left;
}

/* Main */

.titulo{
    font-weight: bold;
    text-align: center;
}

.info-redes{
    font-weight: bold;
}

main {
    background-color: rgba(255, 255, 255, 0.3);
}

td > a:visited, td > a:link{
    color:#000000;
}

td > a:hover{
    color:#242831;
}
